@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
}

.nav-bar{
    background-color: #798777;
    color: #FAEBD7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    margin-left: 5rem;
    font-family: 'Parisienne', cursive;
}

.nav-options>ul{
    font-family: 'Abel', sans-serif;
    display: flex;
    gap: 3rem;
    margin-right: 5rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-options a{
    padding: 1rem;
}

.nav-options li :hover{
    background-color: #AEADAD44;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>img{
    max-width: 100%;
    height: auto;
}

.banner-text{
    position: absolute;
    padding: 1rem;
    background-color: #000000B4;
    color: #FAEBD7;
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: #000000AD 0rem 1rem 2rem;
}

hr{
    border: 0;
    height: 0.1rem;
    background-image: linear-gradient(to right, #D6D6D600, #FFFFFFBF, #D6D6D600);
}

.about{
    background-color: #FAEBD7;
    color: #000000;
    font-family: 'Abel', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 3rem 0;
}

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img>img{
    width: 30%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: #00000059 0rem 0.5rem 1rem;
}

.about-text{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8;
    padding-right: 5rem;
}

.about>*{
    flex-basis: 100%;
}

.info-wrapper{
    background-color: #BDD2B6;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
}

.hours{
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}

.hours>h2{
    margin: 0;
    text-align: center;
}

.hours>table{
    border-spacing: 0.6rem;
}

.location>iframe{
    width: 18rem;
    height: 18rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: #00000059 0rem 0.3rem 1rem;
}

.footer{
    background-color: #798777;
    color: #FAEBD7EF;
    font-family: 'Abel', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.footer-nav>ul{
    list-style: none;
    line-height: 1.8;
}

.footer-nav li:hover{
    color: #FAEBD787;
}

.footer-contact>table{
    border-spacing: 0.6rem;
}

.fa-brands{
    margin-right: 1rem;
}

.fa-brands:hover{
    color: #FAEBD787;
}

/* CONTACT PAGE STYLE */

.contact-wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #525c519d), url(./images/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contact-wrapper>*{
    flex-basis: 100%;
    margin: 0rem 5rem;
}

.contact-information{
    font-family: 'Abel';
    color: #FAEBD7;
}

.contact-information>h1{
    font-size: 4rem;
}
.contact-information>p{
    font-size: 1.5rem;
}

.contact-information>table{
    font-size: 1.2rem;
    margin-top: 5rem;
    border-spacing: 0.5rem;
}

.contact-form>form{
    display: flex;
    flex-direction: column;
    color: #FAEBD7;
    font-family: 'Abel', sans-serif;
    padding-top: 2.5rem;
}

form>*{
    margin-top: 0.5rem;
}

#contact-submit{
    padding: 0.5rem;
    margin-top: 1rem;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

#contact-submit:hover{
    background-color: #857F789E;
}

#contact-submit, input, textarea{
    color: #FAEBD7;
    background: transparent;
    border: 1px solid #FAEBD7;
    outline: 0;
}

input{
    height: 1.6rem;
}

textarea{
    resize: none;
}

/* GALLERY PAGE STYLE */

.gallery-body{
    background-color:  #BDD2B6;
}

.gallery-wrapper{
    margin: 4rem 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.gallery-text{
    font-family: 'Abel', sans-serif;
    color: #000000C6;
    text-align: center;
    padding: 0 20rem;
    font-size: 1.1rem;
}

.gallery-text>h1{
    font-size: 4rem;
}

.gallery-images{
    margin: 3rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.gallery{
    background-color: #7B7B7B89;
    box-shadow: #00000020 0rem 0.3rem 1rem;
    padding: 0.5rem;
}

.gallery:hover{
    background-color: #48484889;
}

.gallery>img{
    height: 19rem;
    width: auto;
}

/* MENU PAGE STYLE */

.menu-body{
    font-family: 'Abel', sans-serif;
    background-color: #BDD2B6;
}
  
.menu{
    max-width: 50rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    background-color: #FAEBD7C4;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem #0000003B;
}

.menu>hr{
    background-image: linear-gradient(to right, #D6D6D600, #5A5A5A76, #D6D6D600);
}

.menu-list{
    display: flex;
    gap: 2rem;
}
  
.menu-list>*{
    flex-basis: 100%;
    padding: 0 2rem;
}
  
.title>h2{
    font-family: 'Poiret One', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #333333;
}
  
.title>h3{
    font-family: 'Poiret One', sans-serif;
    font-size: 2.25rem;
    margin-bottom: 3rem;
    color: #333333;
}
  
.menu-item{
    margin-bottom: 3rem;
    color: #333333;
}
  
.menu-item>h4{
    font-family: 'Poiret One', sans-serif;
    font-size: 1.25rem;
}
  
.menu-item>p{
    color: #666666;
}
  
.menu-item span{
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
}